{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="{% static  'style.css' %}" />
</head>

<body>
  <!-- HEAD -->
    <div style="width:100%;height: 100px;" >
    <h1>RideSharingService</h1>
    <h2>Main</h2>
    </div>
  <!-- MAIN -->
  <div>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
  </div>
  <div>
    <br>
    <a>{{request.user}}--</a>
    <a class="button" href="/logout">Logout</a>
    <a href="\profile">Profile</a>
  </div>      
  
  <h3>As a driver:</h3>
  <div class="wrapper">
    <a class="text-base" align="center" href='/driver_open_ride'>Open Ride</a>
  </div>
  <div class="wrapper">
    <a class="text-base" align="center" href='/driver_confirmed_ride'>Your Comfirmed rides</a>
  </div>
  <h3>As a rider:</h3>
  <div class="wrapper">
    <a class="text-base" align="center" href='/rider_view_request'>my ride</a>
  </div>
  <div class="wrapper">
    <a class="text-base" align="center" href='/rider_request_ride'>request new ride</a>
  </div>
  <div class="wrapper">
    <a class="text-base" align="center" href=/sharer_find_share_rides>Find share ride</a>
  </div>
</body>

</html>