{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Driver: Open Rides</title>
    <link rel="stylesheet" type="text/css" href="{% static  'style.css' %}" />
</head>

<body>
    <div style="width:100%;height: 100px;" >
        <h1>RideSharingService</h1>
        <h2>Driver: Open Rides</h2>
        </div>
        <div>
            <br>
            <a>{{request.user}}--</a>
            <a class="button" href="/logout">Logout</a>
            <a href="\profile">Profile</a>
            <a href="\main">Main</a>
        </div>   
        <br><br>
        <div>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            <table border="1" style="margin-left:auto;margin-right:auto;">
                <h4>Here are order details.</h4>
                <tr>
                    <!-- <th>No.</th> -->
                    <th>id</th>
                    <td><input type="hidden" value="{{r.id}}" name="order">{{r.id}}</td>
                </tr>
                <tr>
                    <th>Schedule</th>
                    <td>{{r.schedule}}</td>
                </tr>
                <tr>
                    <th>From</th>
                    <td>{{r.pickup}}</td>
                </tr>
                <tr>
                    <th>To</th>
                    <td>{{r.whereto}}</td>
                </tr>
                <tr>
                    <th>Car type</th>
                    <td>{{r.car_type}}</td>
                </tr>
                <tr>
                    <th>owner</th>
                    <td>{{r.owner.username}}</td>
                </tr>
                <tr>
                    <th>driver</th>
                    <td>{{r.driver}}</td>
                </tr>
                <tr>
                    <th>ifShare</th>
                    <td>{{r.ifShare}}</td>
                </tr>
                <tr>
                    <th>sharer</th>
                    <td>{{r.sharer}}</td>
                </tr>
                <tr>
                    <th>People num</th>
                    <td>{{r.capacity}}</td>
                </tr>
                <tr>
                    <th>status</th>
                    <td>{{r.status}}</td>
                </tr>
                <tr>
                    <th>Extra Info</th>
                    <td>{{r.extraInfo}}</td>
                </tr>
            </table>
            {% block button %}
            <br><button type="submit" >Comfirm</button>
            {% endblock button%}
            <!-- <button href="\#"> Edit </button> -->
        </form>
</body>
<script>
    // function myfun(){
    //     document.write(r.username);
    // }   
</script>

</html>