{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rider: Request a Ride</title>
    <link rel="stylesheet" type="text/css" href="{% static  'style.css' %}" />
</head>

<body>
    <div style="width:100%;height: 100px;" >
        <h1>RideSharingService</h1>
        <h2>Rider: Request a Ride</h2>
        </div>
        <div>
            <br>
            <a>{{request.user}}--</a>
            <a class="button" href="/logout">Logout</a>
            <a href="\profile">Profile</a>
        </div>   
        <br><br>
        <div>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
        </div>

    <!-- FORM -->
    <form action="" method="POST" >
        {% csrf_token %}
        <div class="block">
            <table>
                <h4>Created by: {{request.user}}</h4>
                <tr>
                    <th>rider_num:</th>
                    <td><input type="number" name="rider_num" value="1" max="10" style="width:200px;"></td>
                </tr>
                <!-- <tr>
                    <th>driver:</th>
                    <td>None</td>
                </tr> -->
                <tr>
                    <th>Want to share?</th>
                    <td><input type="checkbox" name="share" style="width:200px;"></td>
                </tr>   
                <tr>
                    <th>PickUp</th>
                    <td><input type="text" name="pickup" placeholder="2080 Duke University Rd" style="width:200px;height: 50px;"></td>
                </tr>  
                <tr>
                    <th>Destination</th>
                    <td><input type="text" name="whereto" placeholder="2080 Duke University Rd" style="width:200px;height: 50px;"></td>
                </tr> 
                <tr>
                    <th>schedule</th>
                    <td><input type="datetime-local" name="schedule"  style="width:200px;"></td>
                </tr> 
                <tr>
                    <th>extraInfo</th>
                    <td><input type="text" name="extraInfo" placeholder="No pets." style="width:200px;height: 50px;"></td>
                </tr> 
                <tr>
                    <th>Car Type</th>
                    <td>
                    <select name="car_type" id="myselect" style="width:200px;">
                        <option value="SUV" >SUV</option>
                        <option value="COMPACT">COMPACT</option>
                        <option value="COMFORT">COMFORT</option>
                        <option value="GREEN">GREEN</option>
                        <option value="PREMIER">PREMIER</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br><button type="submit" >Sign Up</button>
        </div>
    </form>
</body>

</html>