{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RideRequest</title>
    <link rel="stylesheet" type="text/css" href="{% static  'style.css' %}" />
    <style></style>
</head>

<body>
<div style="width:100%;height: 100px;">
    <h1>RideSharingService</h1>
    <h2>RideRequest</h2>
</div>
<div>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
</div>
<div>
    <br>
    <a>{{request.user}}--</a>
    <a class="button" href="/logout">Logout</a>
    <a href="\main">Main Page</a>
</div>

<form action="" method="POST">
    {% csrf_token %}
    <table id="table1" class="block" style="display: inline-table" >
        <h4>Request Info:</h4>
        <tr>
            <th>Destination Address:</th>
            <td><input type="text" name="destination address" default={{curr}} placeholder={{curr.destination_address}></td>
        </tr>
        <tr>
            <th>Required Arrival Time:</th>
            <td><input type="datetime-local" name="required arrival time"}></td>
        </tr>
        <tr>
            <th>Total Passenger Number:</th>
            <td><input type="number" name="total passenger number" }></td>
        </tr>
        <tr>
            <th>Vehicle Type:</th>
            <td><input type="text" name="vehicle type" placeholder={{curr.vehicle_type}}></td>
        </tr>
        <tr>
            <th>Special Request:</th>
            <td><input type="text" name="special request" placeholder={{curr.special_request}}></td>
        </tr>
    </table>
    <br>
    <button type="submit" >Save</button>
</form>
<!-- <a href="\profile"> Save </a> -->

<!--</body>-->
<!--<script>-->
<!--    function myfun(){-->
<!--        //var checkBox = document.getElementById("myCheck");-->
<!--        //var driveInfo = document.getElementById("table2");-->
<!--        //var driveText = document.getElementById("driveText");-->
<!--    //     if (checkBox.checked == true){-->
<!--    //         // driveInfo.style.display="none";-->
<!--    //         driveText.innerHTML="True";-->
<!--    //     }else{-->
<!--    //         // driveInfo.style.display="inline-table";-->
<!--    //         driveText.innerHTML="False";-->
<!--    //     }-->
<!--    // }-->
<!--</script>-->
<!--</html>-->