{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static  'style.css' %}" />
</head>

<body>
  <!-- HEAD -->
    <div style="width:100%;height: 100px;" >
    <h1>RideSharingService</h1>
    <h2>Sign Up</h2>
    </div>

    <br><br>
    <div>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
    </div>

    <form action="" method="POST" >
        {% csrf_token %}
        <div class="block" >
          <br><label>Username:</label>
          <input type="text" name="username" required="required" style="border: 1px solid #000000 !important;">
          <br><label>Email:</label>
          <input type="email" name="email" required="required" style="border: 1px solid #000000 !important;">      
          <br><label>Tel:</label>
          <input type="tel" name="tel" required="required" style="border: 1px solid #000000 !important;"> 
          <br><label>First name:</label>
          <input type="text" name="first name" required="required" style="border: 1px solid #000000 !important;">
          <br><label>Last name:</label>
          <input type="text" name="last name" required="required"  style="border: 1px solid #000000 !important;">

          <br><label>Password:</label>
          <input type="password" name="password" required="required" style="border: 1px solid black !important;">
          <br><label>Confirm Password:</label>
          <input type="password" name="password2" required="required" style="border: 1px solid #000000 !important;">  
          
          <br><a>If you are a driver:</a>
          <input type="checkbox" name="drive" id="myCheck" onclick="myfun()">
          <br><label id="option0" style="display:none">License num:</label>
          <input type="text" id="option1" style="display:none" name="license_num" style="border: 1px solid #000000 !important;">  
          <br><label id="option2" style="display:none">License plate:</label>
          <input type="text" id="option3" style="display:none" name="license_plate"  style="border: 1px solid #000000 !important;">
          
          <!-- <input type="" id="option5" style="display:none" name="car_type" style="border: 1px solid #000000 !important;">   -->
          <br><label id="option6" style="display:none">Car brand:</label>
          <input type="text" id="option7" style="display:none" name="car_brand" style="border: 1px solid #000000 !important;">  
          <br><label id="option8" style="display:none">Capacity:</label>
          <input type="number" id="option9" style="display:none" max="10" name="capacity" value=0 style="border: 1px solid #000000 !important;">  
          <br><label id="option4" style="display:none">Car Type:</label>
          <select hidden name="car_type" id="myselect">
            <option value="NONE" >NONE</option>
            <!-- <option value="NONE" selected disabled hidden>---</option> -->
            <option value="SUV" >SUV</option>
            <option value="COMPACT">COMPACT</option>
            <option value="COMFORT">COMFORT</option>
            <option value="GREEN">GREEN</option>
            <option value="PREMIER">PREMIER</option>
          </select>

          <br><input type="checkbox" id="checkbox1" name="agree"> 
          <label for="checkbox1">I Agree </label>
          <a href="\terms_and_conditions"> Terms and Conditions</a>
        </div>
      <br>
      <button type="submit" >Sign Up</button>
    </form>

  <div >
      <p class="text-base"> Do you have an account? <a href="\login"> Login </a></p>
  </div>
  </body>
    <script>
    function myfun() {
      // Get the checkbox
      var checkBox = document.getElementById("myCheck");
      // Get the output text
      var option0 = document.getElementById("option0");
      var option1 = document.getElementById("option1");
      var option2 = document.getElementById("option2");
      var option3 = document.getElementById("option3");
      var option4 = document.getElementById("option4");
      // var option5 = document.getElementById("option5");
      var option6 = document.getElementById("option6");
      var option7 = document.getElementById("option7");
      var option8 = document.getElementById("option8");
      var option9 = document.getElementById("option9");
      var option=[option0,option1,option2,option3,option4,option6,option7,option8,option9];
      // ,option5
      //get select
      var myselect=document.getElementById("myselect");
      let hidden = myselect.getAttribute("hidden");
      

      // If the checkbox is checked, display the output text
      if (checkBox.checked == true){
        for(let i=0; i<9;i++){
          option[i].style.display = "inline-table";
        }
        myselect.removeAttribute("hidden");
      } else {
        for(let i=0; i<9;i++){
          option[i].style.display = "none";
        }
        myselect.setAttribute("hidden", "hidden");
      }
    }       
    </script>

</html>